# pre-commit 1.1.0 is required for `exclude`
# however `minimum_pre_commit_version` itself requires 1.15.0
minimum_pre_commit_version: 1.15.0

exclude: ^(docs/conf.py|ewah_bool_utils/__init__.py)

ci:
  autofix_prs: false
  autoupdate_schedule: quarterly

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: no-commit-to-branch
  - id: debug-statements
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-executables-have-shebangs

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.275
  hooks:
  - id: ruff
    args: [--fix]

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: rst-backticks

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.9.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]

- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.15.0
  hooks:
  - id: cython-lint
    args: [--no-pycodestyle]
