include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include *.py
include *.txt

include ewah_bool_utils/cpp/*.h
include ewah_bool_utils/cpp/LICENSE
include ewah_bool_utils/cpp/README

recursive-include ewah_bool_utils *.pxd
recursive-include ewah_bool_utils *.pyx
recursive-include ewah_bool_utils/tests *

exclude ewah_bool_utils/_testing.cpp
exclude ewah_bool_utils/ewah_bool_wrap.cpp
exclude ewah_bool_utils/morton_utils.c

recursive-include docs *.rst conf.py Makefile make.bat

exclude .pre-commit-config.yaml
recursive-exclude */__pycache__ *
