name: Build and Test

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions: {}

jobs:

  build:
    strategy:
      # run all tests even if e.g. image tests fail early
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - 3.10.0
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        # Test all on ubuntu, test ends on macos and windows
        include:
        - os: macos-latest
          python-version: 3.10.0
        - os: windows-latest
          python-version: 3.10.0
        - os: macos-latest
          python-version: '3.14'
        - os: windows-latest
          python-version: '3.14'
        - os: ubuntu-22.04
          python-version: 3.10.0
          install-args: --resolution=lowest-direct

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build
      run: |
        uv sync --group test ${{ matrix.install-args }}
    - name: Run test suite
      run: |
        uv run --no-sync pytest --color yes -ra
