name: Build and Test

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:

  build:
    name: '${{ matrix.tests-type }} tests: py${{ matrix.python-version }} on ${{ matrix.os }}'
    strategy:
      # run all tests even if e.g. image tests fail early
      fail-fast: false
      matrix:
        os:
          #- macos-latest
          #- windows-latest
        - ubuntu-latest
        python-version:
        - '3.8'
        - '3.9'

    runs-on: ${{ matrix.os }}

    steps:
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Build
      shell: bash
      env:
        dependencies: ${{ matrix.dependencies }}
      run: |
        python -m pip install "."
        python -m pip install -r test_requirements.txt
    - name: Run Tests
      env:
        testsuite: ${{ matrix.tests-type }}
      run: pytest --color=yes
